@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --blueberry-blue: #678BAF;
    --gray: #e5e5e5;
    --text-dark-blue: #576075;
    --card-gray: #c4c4c45e;
}
*{
    box-sizing: border-box;
}
#logo{
    font-family: 'Caveat', cursive;
    font-size: 41px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 4px 4px black;
}
html, body{
    font-size: 100%;
    background-color: var(--gray);
    
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-image{
    width: 33%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;
    border-radius: 9px;
    box-shadow: 0px 5px 15px gray;
}
.container{
    background-color: var(--gray);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "status-cards activities"
                            "flex-grid card-2";
    
}
#top-left-gridbox::before{
    content:  url(/Blueberry-Farm-files/vector-blueberry-black-white-engraved-ink-art-berries-leaves-isolated-illustration-element-leaf-plant-botanical-garden-floral-141383913-removebg-preview.png);
    
    position: absolute;
    transform: translateY(534px) translateX(58px) rotate(-83deg);    
    background-size: cover;
    left: 0;
    opacity: .4;
}
.container-2{
    width: 100%;
    height: 487px;
    display: grid;
    background-color: var(--gray);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, .5fr);
    grid-template-areas: "cheesecake kitten"
    "cheesecake benches";
    margin-top: 20px;
    padding-left: 5rem;
    gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
#cheesecake, #kitten, #benches, #blue-berry-violin img{
    box-shadow: 0px 5px 15px gray !important;
    border-radius: 9px;
}
nav{
    height: 80px;
    width: 100vw;
    background-color: var(--blueberry-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropdown-links{
    display: none;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5 10px;
    width: 40%;
    list-style: none;
    
}
.hamburger{
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
}

.nav-bar-mobile{
    width: 50%;
    background-color: var(--blueberry-blue);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    transform: translateY(23px);
    list-style: none;
    z-index: 10;
}

.list-items-m {
    margin: 5px;
    padding: 10px;
    border-bottom: 1px solid var(--card-gray);
}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav-bar li::before{
    content: "\2022";
    color: white;
    margin-right: 4px;
    
}

.nav-mobile{
    display: none;
}
#status{
    
    color: var(--text-dark-blue);
    font-family: 'Raleway', sans-serif;
    color: var(--text-dark-blue);
}
#status-announcement{
    width: 60ch;
    text-align: justify;
    letter-spacing: 1.5px;
    font-family: 'Raleway', sans-serif;
}
.divider{
    height: 4px;
    width: 80%;
    border: 3px solid var(--card-gray);
    align-self: center;
}
.list-items{
    
}
#blue-berry-violin{
    width: 50%;
    height: 350px;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    box-shadow: 0px 5px 15px grey;
   
}
.card{
    width: 90%;
    height: 300px;
    margin: 10px auto;
    background-color: var(--card-gray);
    padding: 3rem;
    font-family: 'Raleway', sans-serif;
    color: var(--text-dark-blue);
}
.card-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.card-content{
    
    text-align: justify;
}

#top-left-gridbox{
    grid-area: status-cards;
}

#activities{
    grid-area: activities;
    padding-left: 4rem;
    align-items: flex-start;
   
}



.list-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: hidden;
}
.list-wrapper::before{
    content: url(/Blueberry-Farm-files/Lavender-Clipart-Black-and-White-3-removebg-preview.png);
    opacity: .5;
    position: absolute;
    right: -123px;
    top: 220px;
    transform: rotate(-18.62deg);
    overflow: hidden;
}

#grid-flex{
    grid-area: flex-grid;
}

#double-cards{
    grid-area: card-2;
    justify-content: flex-start;
}
#double-cards::before{
    content: url(/Blueberry-Farm-files/blackberry.png);
    width: 251px;
    height: 248px;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: .5;
    transform: translateY(240%) translateX(105px) rotate(157deg);}
footer{
    width: 100%;
    position: relative;
    bottom: 0%;
    bottom: 0%;
    height: 60px;
    background-color: var(--blueberry-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#bluebrry-close-up{
    background-image: url(/Blueberry-Farm-files/blue-berrys.jpg);
    
}
#barn{
    background-image: url(/Blueberry-Farm-files/barn.jpg);

}
#barn-sign{
    background-image: url(/Blueberry-Farm-files/barn-sign.jpg);
}
#bluebrry-close-up{
    background-image: url(/Blueberry-Farm-files/blue-berrys.jpg);
}
#cheesecake{
    background-image: url(/Blueberry-Farm-files/cheesecake.jpg);
    grid-area: cheesecake;
    border-radius: 9px;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 467px;
}
#kitten{
    height: 213px;
    width: 181px;
    background-image: url(/Blueberry-Farm-files/Kitten.jpg);
    border-radius: 9px;
    grid-area: kitten;
    background-size: cover;
    background-position: center;
}
#benches{
    background-image: url(/Blueberry-Farm-files/benches.jpg);
    background-position: center;
    grid-area: benches;
    border-radius: 9px;
    background-size: cover;
    width: 181px;
    height: 213px;
    
}

#disclosure{
    color: var(--text-dark-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 12.5rem;
}

.list-wrapper{
    color: var(--text-dark-blue);
    font-family: 'Raleway';
    margin-bottom: 15px;
    margin-top: 0;
}
.list-wrapper ul{
    list-style: none;
}

.activity-items{
    padding: 10px;
}
#chicken{
    width: 90px;
    height: 90px;
    position: absolute;
    transform: translateY(10px);
    z-index: 10;
}
#tracks{
    position: absolute;
    width: 168.71px;
    height: 46.26px;
    transform: translateY(76px) translateX(25px);
    z-index: 10;
}

.directions-wrapper{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
iframe{
    display: block;
    width: 90%;
    height: 90%;
    z-index: 0;
}
@media screen and (max-width: 775px) {
    #top-left-gridbox::before, #double-cards::before, .list-wrapper::before, #chicken-wrapper, #chicken, #tracks{
        display: none;
    }
    #desktop-nav{
        display: none;
        z-index: 10;
    }
    .nav-mobile{
        display: flex;
        z-index: 10;
    }
    #bluebrry-close-up, #barn-sign{
        display: none;
    }
    #barn{
        width: 90%;
        background-position: center;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container-2{
        display: none ;
    }
    #status-announcement{
        width: 33ch;
        padding: 10px;
    }
    #disclosure p{
        width: 26ch;
        text-align: center;
    }
    .card-flex{
        align-items: center;
    }
    .card-content{
        width: 27ch;
    }
    #blue-berry-violin{
        display: none!important;
    }
    .card{
        height: auto;
    }
    #logo{
        font-size: 1.2rem;
    }
    #disclosure{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        background-color: var(--card-gray);
        width: 80%;
        justify-content: center;
        transform: translateX(12%);
    }
    #activities{
        padding: 0%;
        align-items: center;
    }
    .list-wrapper{
        padding: 0%;
        align-items: center;
    }
}

@media screen and (min-width: 776px)  and (max-width: 992px){
    .container{
        display: flex;
        flex-direction: column;
    }
    #desktop-nav{
        display: none;
    }
    #logo{
        font-size: 1.7rem;
    }
    .nav-mobile{
        display: flex;
    }
    #bluebrry-close-up{
        display: none;
    }
    #barn{
        width: 80%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    #barn-sign{
        display: none;
    }
    #top-left-gridbox::before, #double-cards::before, .list-wrapper::before, #chicken-wrapper, #chicken, #tracks{
        display: none;
    }
    #disclosure{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        background-color: var(--card-gray);
        width: 80%;
        justify-content: center;
        transform: translateX(12%);
    }
    .list-wrapper{
        flex-direction: row;
        padding: 1rem 2rem;
    }
    #activities{
        padding: 0;
        align-items: center;
    }
    #blue-berry-violin{
        align-self: center;
    }
    #cheesecake{
        width: 386;
    }
    #kitten{
        width: 326px;
    }
    #benches{
        width: 326px;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1222px) {
    .list-wrapper::before{
        display: none;
    }
    #chicken, #tracks{
        display: none;
    }
    #double-cards::before{
        transform: translateY(246%) translateX(20px) rotate(158deg);
    }
    #top-left-gridbox::before {
        transform: translateY(534px) translateX(36px) rotate(-83deg);
    }


}

.show-nav{
    display: block;
    transition: 1.5s ease-in-out;
    
}
.close-nav{
    display: none;
}